              <div class="artista">
                <div class="artista__imagen"><img src="/assets/artista.jpg" alt=""/></div>
                <div class="artista__nombre">
                  <h2><%= @prueba.nombre %></h2>
                </div>
                <div class="artista__canciones">
                  <p><%= @prueba.cantidad %> songs</p>
                </div>
              </div>